@using SweetCreativity.Core.Entities;

@model Listing

@{
    ViewData["Title"] = Model.Title;
}

<h1>Оголошення</h1>
<div class="row col-4">
    <img src="@Model.CoverPath" class="card-img-top" alt="@Model.Title">
</div>
<hr />

<div class="row">
    <div class="col-2">Назва:</div>
    <div class="col-10"><strong>@Model.Title</strong></div>
</div>
<hr />

@*<div class="row">
    <div class="col-2">Категорія:</div>
    <div class="col-4">@Model.Category.NameCategory</div>
</div>
<hr />*@
<div class="row">
    <div class="col-2">Категорія:</div>
    <div class="col-4">
        @if (Model.Category != null)
        {
            @Model.Category.NameCategory
        }
        else
        {
            <span>Категорія не визначена</span>
        }
    </div>
</div>
<hr />


<div class="row">
    <div class="col-2">Опис:</div>
    <div class="col-4">@Model.Description</div>
</div>
<hr />

<div class="row">
    <div class="col-2">Склад продукту:</div>
    <div class="col-4">@Model.Product</div>
</div>
<hr />

<div class="row">
    <div class="col-2">Дата створення оголошення:</div>
    <div class="col-4">@Model.CreatedAtListing</div>
</div>
<hr />

<div class="row">
    <div class="col-2">Розташування:</div>
    <div class="col-4">@Model.Location</div>
</div>
<hr />

<div class="row">
    <div class="col-2">Ціна:</div>
    <div class="col-4">@Model.Price</div>
</div>
<hr />

<div class="row">
    <div class="col-2">Вага:</div>
    <div class="col-4">@Model.Weight</div>
</div>
<hr />

<div class="row">
        <div class="col-1">
            <a href="@Url.Action("Edit", "Listing", new { id = Model.Id })" class="btn btn-primary">Редагувати</a>
        </div>
        <div class="col-1">
            <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger">Видалити</button>

           
         
            </form>
        </div>
    </div>
<hr />

<div class="row">
    <div class="col-2">
        <a href="@Url.Action("Create", "Order", new { listingId = Model.Id })" class="btn btn-success"
           style="width: 200px; margin-top: 10px; margin-bottom: 10px;">Зробити замовлення</a>
    </div>
</div>
<hr />

<div>
    <a href="javascript:void(0);" class="btn btn-primary" onclick="openRatingModal()">
        Залишити рейтинг/відгук
    </a>
</div>
<hr />

<div class="row">
    <div class="col-2"><h5>Середній рейтинг:</h5></div>
    <div class="col-4">
        @ViewBag.AverageRating
    </div>
</div>
<br />

<h5>Відгуки користувачів</h5>
@if (Model.Responses != null && Model.Responses.Count > 0)
{
    <ul>

        @foreach (var response in Model.Responses)
        {
            <li>@response.TextResponse</li>
        }
    </ul>
}
else
{
    <p>Наразі немає жодних відгуків.</p>
}
<hr />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="~/js/rating.js"></script>



<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel">Додати рейтинг/відгук</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="AddRating" asp-controller="Listing">
                    <input type="hidden" name="listingId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="ratingValue">Оцінка:</label>
                        <select name="ratingPoint" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Зберегти рейтинг</button>
                </form>
                <form asp-action="AddResponse" asp-controller="Listing">
                    <input type="hidden" name="listingId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="textResponse">Текст відгуку:</label>
                        <textarea name="textResponse" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Зберегти відгук</button>
                </form>
            </div>
        </div>
    </div>
</div>

