﻿@using SweetCreativity.Core.Entities;
@model Construction

<h1>Індивідуальне замовлення</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" enctype="multipart/form-data">

            @Html.ValidationSummary()

            <div data="mb-3">
                @Html.DisplayNameFor(model => model.NameConstruction)
                <input asp-for="NameConstruction" class="form-control" />
                <span asp-validation-for="NameConstruction" class="text-danger" />
            </div>

            <div data="mb-3">
                @Html.DisplayNameFor(model => model.Form)
                @Html.TextAreaFor(model => model.Form, new { @class = "form-control"})
                <span asp-validation-for="Form" class="text-danger" />
            </div>

            <div data="mb-3">
                @Html.DisplayNameFor(model => model.ViewDescription)
                @Html.TextAreaFor(model => model.ViewDescription, new { @class = "form-control"})
                <span asp-validation-for="ViewDescription" class="text-danger" />
            </div>

            <div data="mb-3">
                @Html.DisplayNameFor(model => model.Ingredients)
                @Html.TextAreaFor(model => model.Ingredients, new { @class = "form-control"})
                <span asp-validation-for="Ingredients" class="text-danger" />
            </div>
            <div data="mb-3">
                @Html.DisplayNameFor(model => model.Quantity)
                @Html.TextAreaFor(model => model.Quantity, new { @class = "form-control"})
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Deadline)
                @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
            </div>


            <div class="form-group mt-3">
                @Html.DisplayNameFor(model => model.CoverFile)
                <input asp-for="CoverFile" accept="image/*" />
                <span asp-validation-for="CoverFile" class="text-danger"></span>
            </div>

            <div data="mb-3">
                @Html.DisplayNameFor(model => model.Additionaly)
                @Html.TextAreaFor(model => model.Additionaly, new { @class = "form-control"})
                <span asp-validation-for="Additionaly" class="text-danger" />
            </div>

            <div data="mb-3">
                @Html.DisplayNameFor(model => model.CustomerNumber)
                @Html.TextAreaFor(model => model.CustomerNumber, new { @class = "form-control"})
                <span asp-validation-for="CustomerNumber" class="text-danger" />
            </div>

            <br />
            <button type="submit" class="btn btn-success">Зберегти</button>

        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}